#app {
width:100%;
height:800px;
background-color:deepskyblue;
}
#chatbot {
width:100%;
height:800px;
background-color:fuchsia;
}
#games {
width:100%;
height:800px;
background-color:aquamarine;
}
.line {
height:6px;
background-color:blueviolet;
width:70px;
margin:8px auto;
}
img {
transition:transform .2s;
}
img:hover {
transform:scale(0.9);
}
body {
text-align:center;
}